/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: #218a2f;
    color: #fff;
    padding: 20px;
}

.header__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  

.form__label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form__input {
    font-size: 16px;
    padding: 10px;
}

/* Tamanho do botão definido aqui para não afetar o tamanho dos inputs */
.form__button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #218a2f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form__button:hover {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #186c23;
    color: #fff;
    cursor: pointer;
}

.form__button:active {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #0f5018;
    color: #fff;
    cursor: pointer;
}

.restartButton{
    background-color: #f00;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.game__cell {
    background-color: #fff;
    border: 2px solid #222;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
}

.game__cell:hover {
    background-color: #d8d8d8;
}

.game__cell:active {
    background-color: #aaaaaa;
}


.game__cell--player1 {
    color: #f00;
}

.game__cell--player2 {
    color: #00f;
}

.game__result {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game__score {
    font-size: 50px;
    font-weight: bold;
}

.game__score-player1 {
    font-size: 50px;
    color: #f00;
}

.game__score-player2 {
    font-size: 50px;
    color: #00f;
}

.footer {
    background-color: #218a2f;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer__text {
    font-size: 14px;
}

/* Modificadores */
.form__input:focus,
.form__button:focus,
.game__cell:focus {
    outline: none;
}

.game__cell--disabled {
    cursor: not-allowed;
    opacity: 0.5;
}